h1, h2, .print-btn, .exit-link, .what_inspires, .answer, .badge_logo, .logo_container {
	display: none;
}

.badge_info {
	border: none
}

body {
	font-family: 'Open Sans', helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.0;
	/* margin-left: 200px;    //Set margin for left side of paper here */
}

.personal_info {
	margin-left: 150px;
	margin-top: 10px;
}

.first_name {
	font-size: 62px;
	font-weight: 800;
	text-transform: uppercase;
}

.last_name {
	font-size: 62px;
	font-weight: 300;
	text-transform: uppercase;
}

.title {
	margin-top: 45px;
	font-weight: 700;
}

.organization {
	font-weight: 300;
}

.inspirations {
	margin-top: 25px;
}

.what_inspires {
	float: left;
	width: 100px;
	border-right: 1px solid #444;
	font-weight: 700;
}

.inspiration {
	float: left;
	font-weight: 300;
	margin-left: 20px;
	margin-right: 10px;
	width: 130px;
	height: 55px; overflow: hidden;
	
}

.the_inspirations {
  margin-left: 75px;
}

.answer {
	font-size: 14px;
	font-weight: 700;
}
