
#signup_form {
  .error_messages {
    width: $badge-width;
    margin-top: 20px;
    color: red;
  }
  .field_with_errors {
    input[type="text"], input[type="email"] {
      border: thin solid red;
    }
  }

  .personal_info {
    $personal-info-margin-top: .15 * $badge-height;
    margin-left: $personal-info-margin-left;
    margin-top: $personal-info-margin-top;
    .divider {
      width: $badge-width - $personal-info-margin-left - 20px;
      border-bottom: 1px solid black;
    }
    .first_name {
      input[type="text"] {
        font-size: 1.5 * $base-font-size;
        font-weight: 800;
        letter-spacing: .04 * $base-font-size;
        line-height: 1.5 * $base-font-size;
        height: (1.5 * $base-font-size) + 10px;
      }
    }
    .last_name {
      input[type="text"] {
        font-size: 1.5 * $base-font-size;
        font-weight: 400;
        letter-spacing: .04 * $base-font-size;
        line-height: 1.5 * $base-font-size;
        height: (1.5 * $base-font-size) + 10px;
      }
    }
  }
  .personal_email {
    margin-top: 30px;
    margin-left: $margin-form-button;
  }
  .inspirations {
    margin-top: .035 * $badge-height;
  }
  .btn-panuu-2 { height: 50px; -webkit-border-radius: 5px; border-radius: 5px; text-shadow: 0px 1px 0px #ffff3c; font-size: 18px; color: #444; background-color: #FFD500; background-image: -moz-linear-gradient(top, #fff31e, #e1b700); background-image: -ms-linear-gradient(top, #fff31e, #e1b700); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff31e), to(#e1b700)); background-image: -webkit-linear-gradient(top, #fff31e, #e1b700); background-image: -o-linear-gradient(top, #fff31e, #e1b700); background-image: linear-gradient(top, #fff31e, #e1b700); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff31e', endColorstr='#e1b700', GradientType=0); border-color: #FFD500 #e1b700 #e1b700 #FFD500; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
}
