body {
	padding-top: 60px;
	padding-bottom: 40px;
	font-family: 'Open Sans', helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.0;
	background-color: #F7F5F6;
	margin-left: 260px;
}

h1 a {
	display: block;
	width: 160px;
	height: 124px;
	background: url('ciw_sprite.png') no-repeat !important;
	background-position: -300px 0 !important;
	text-indent: -9999px;
	position: absolute;
	top: 0px;
	left: 100px;
	z-index: 9999;
}

h2 {
	font-size: 35px;
	line-height: 1.25;
	font-weight: 600;
	color: #666;
	text-shadow: 1px 1px 1px white;
/*  margin: 20px;*/
	padding: 10px;
	width: 400px;
}

.clear {
	clear: both;
}

.navbar .brand {
	margin-left: 260px;
}

input, button, select, textarea {
	font-family: 'Open Sans', helvetica, sans-serif;
}

label, input, button, select, textarea {
  font-size: 18px;
  font-weight: normal;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  display: inline-block;
  height: 22px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 18px;
  color: #555555;
  width: 360px;
}

abbr[title] {
	cursor: pointer;
	border-bottom: none;
}

.personal_info {
	margin-left: 150px;
	margin-top: 20px;	
}

.badge_logo {
  float: left;
	
}

.badge_info {
	border: 1px solid #777;
	padding: 10px;
	width: 600px;
}

.first_name {
	font-size: 62px;
	font-weight: 800;
	text-transform: uppercase;
}

.last_name {
	font-size: 62px;
	font-weight: 300;
	text-transform: uppercase;
}

.title {
	margin-top: 45px;
	font-weight: 700;
}

.organization {
	font-weight: 300;
}

.inspirations {
	margin-top: 25px;
}

.what_inspires {
	float: left;
	width: 100px;
	border-right: 1px solid #444;
	font-weight: 700;
}

.inspiration {
	float: left;
	font-weight: 300;
	margin-left: 10px;
	margin-right: 15px;
	width: 130px;
	height: 55px; overflow: hidden;
}

.answer {
	font-size: 14px;
	font-weight: 700;
}

.print-btn {
	margin-top: 40px;
	width: 360px;
}

a.exit-link {
	color: #B94A48;
}

a.cancel-link {
	color: #B94A48;
	margin-left: 160px;
}

.submit-form-btn {
	margin-left: 160px;
}

input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
  width: 370px;
}

/* Buttons */

/* class: .btn-panuu-2,  color theme: Panuu */
.btn-panuu-2 { text-shadow: 0px 1px 0px #ffff3c; font-size: 18px; color: #444; background-color: #FFD500; background-image: -moz-linear-gradient(top, #fff31e, #e1b700); background-image: -ms-linear-gradient(top, #fff31e, #e1b700); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff31e), to(#e1b700)); background-image: -webkit-linear-gradient(top, #fff31e, #e1b700); background-image: -o-linear-gradient(top, #fff31e, #e1b700); background-image: linear-gradient(top, #fff31e, #e1b700); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff31e', endColorstr='#e1b700', GradientType=0); border-color: #FFD500 #e1b700 #e1b700 #FFD500; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-panuu-2:hover, .btn-panuu-2:active, .btn-panuu-2.active, .btn-panuu-2.disabled, .btn-panuu-2[disabled] { background-color: #e1b700; }
.btn-panuu-2:hover { color: #444; text-shadow: 0px 1px 0px #ffff3c; }
.btn-panuu-2:focus { color: #5f3500; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #FFD500 #e1b700 #e1b700 #FFD500; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-panuu-2.active, .btn-panuu-2:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #5f3500; }
/* end .btn-panuu-2 */

.logo_container {
	display: block;
	line-height: 60px;
	vertical-align: bottom;
	text-align: right;
}

.lpl_logo {
	img {
		max-height: 40px;
	}
}

.block {
  display: block;
}